<!DOCTYPE html>
<html>

<head>
  <title>Farm Buddy</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <style>
    div.main {
      padding: 5px 50px 75px 50px;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>


</head>

<body style="background-image: url('https://wallpaperaccess.com/full/803470.jpg');background-size: cover;" >
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Farm Buddy</a>
      <img
        src="https://img.freepik.com/premium-vector/farmer-with-basket-vegetables-ground-fork-cartoon-icon-illustration-people-profession-icon-concept-isolated-flat-cartoon-style_138676-1786.jpg?w=2000"
        alt="hgf" height="70px" width="70px">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <!-- <li class="nav-item border-end">
            <a class="nav-link active" aria-current="page" href="/cropprediction">Crop</a>
          </li>

          <li class="nav-item border-end">
            <a class="nav-link active" aria-current="page" href="/disdetection">Disease</a>
          </li> -->

          <!-- <li class="nav-item border-end">
            <a class="nav-link active" aria-current="page" href="/">Price </a>
          </li> -->

        </ul>
      </div>
    </div>
  </nav>
  <div class="main">

    <div class="row p-5">            
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-6">
            <img id="img" src={{context.image_url}} class="img-thumbnail" style="height: 400px;">
          </div>
          <div class="col-6">
            <div class="card-body">
              <h2 class="text-center">{{context.name}}</h2> 
              <table class="table table-striped">
                <tr>
                  <td>Current Price</td>
                  <td><b>₹ {{context.current_price}} / ql</b></td>
                </tr>
                <tr>
                  <td>Prime Location</td>
                  <td><b>{{context.prime_loc}}</b></td>
                </tr>
                <tr>
                  <td>Crop Type</td>
                  <td><b>{{context.type_c}}</b></td>
                </tr>
                <tr>
                  <td>Export</td>
                  <td><b>{{context.export}}</b></td>
                </tr>
              </table>             
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="card grey lighten-4">
          <div class="card-content black-text">
            <h2 class="text-center">Brief Forecast</h2>

            <table class="table table-striped">
              <tr>
                <td style="width: 30%;">
                  <b>Minimum Price</b>
                </td>
                <td style="width: 30%;">
                  <h5>{{context.min_crop[0]}}</h5>
                </td>
                <td>
                  <h5>₹{{context.min_crop[1]}}</h5>
                </td>
              </tr>
              <tr>
                <td style="width: 30%;">
                  <b>Maximum Price</b>
                </td>
                <td style="width: 30%;">
                  <h5>{{context.max_crop[0]}}</h5>
                </td>
                <td>
                  <h5>₹{{context.max_crop[1]}}</h5>
                </td>
              </tr>
            </table>


          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 20px;">
      <div class="col-12 bg-light p-3">
        <table class="table table-striped" style="width : 100%;">
          <thead>
            <tr>
              <h3>Forecast Trends</h3>
            </tr>
            </theag>

          <tbody>
            <tr>
              <th>Month</th>
              {% for item in context.forecast_values %}
              <td>{{item[0]}}</td>
              {% endfor %}
            </tr>
            <tr>
              <th>Price (per Qtl.)</th>
              {% for item in context.forecast_values %}
              <td>{{item[1]}}</td>
              {% endfor %}
            </tr>
            <tr>
              <th>Change</th>
              {% for item in context.forecast_values %}
              <td class="">{{item[2]}}% {% if item[2]>=0 %}<img src="../static/gain-icon.png" height="25" width="25">{%
                else %}<img src="../static/loss-icon.png" height="25" width="25">{% endif %}</td>
              {% endfor %}
            </tr>

          </tbody>
        </table>
      </div>
      <!-- <div class="col s2"></div> -->
    </div>

    <div class="charts bg-light p-3" style="margin-bottom: 15px;padding: 30px;">
      <div class="chartjs-wrapper col s7 offset-s1">
        <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined" style=" width:800px !important;
    height:400px !important;">
        </canvas>
        <script>
          new Chart(
            document.getElementById("chartjs-0"), { "type": "line", "data": { "labels": {{ context.forecast_x | safe }}, "datasets": [{ "label": "Next year Price", "data": {{ context.forecast_y }}, "fill": false, "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1}]}, "options": {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                display: true,
                ticks: {
                  suggestedMin: 1000,
                  stepSize: 200
                }
              }]
            }
          }})
        </script>
      </div>
      <div class="chartjs-wrapper col s7 offset-s1">
        <canvas id="chartjs-1" class="chartjs" width="undefined" height="undefined" style=" width:800px !important;
    height:400px !important;">
        </canvas>
        <script>
          new Chart(document.getElementById("chartjs-1"), { "type": "line", "data": { "labels": {{ context.previous_x | safe }}, "datasets": [{ "label": "Previous year price", "data": {{ context.previous_y }}, "fill": false, "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1}]}, "options": {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                display: true,
                ticks: {
                  suggestedMin: 1000,
                  stepSize: 200
                }
              }]
            }
          }});</script>
      </div>
    </div>


  </div>




  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>